# nodeJS
node_modules/

# .NET
*.suo
bin/
obj/
packages/

# IntelliJ / Rider
*.iml
.idea/.idea.BuzzStats/.idea/*
!.idea/.idea.BuzzStats/.idea/runConfigurations/

# Coverage report
results.xml

# NUnit report
TestResult.xml

# MySQL datbase files
docker/mysql/data/
