<?xml version="1.0" encoding="UTF-8"?>

<configuration
  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- will only show google analytics if it's "live" -->
    <add
      xdt:Locator="Match(key)"
      xdt:Transform="SetAttributes"
      key="environment"
      value="live" />
  </appSettings>
  <connectionStrings>
    <add
      xdt:Locator="Match(name)"
      xdt:Transform="SetAttributes"
      name="BuzzStats"
      providerName="mysql"
      connectionString="Server=localhost;Database=BuzzStatsLive;Uid=$(Uid);Pwd=$(Pwd);Charset=utf8;Convert Zero Datetime=True;Pooling=False" />
  </connectionStrings>
  <buzzStats>
    <web
      disableCache="false"
      xdt:Transform="SetAttributes" />
  </buzzStats>
  <log4net>
    <root>
      <level
        value="INFO"
        xdt:Transform="SetAttributes" />
    </root>
    <appender
      name="SmtpAppender"
      xdt:Locator="Match(name)">
      <subject
        value="ngeor.net BuzzStats Exception"
        xdt:Transform="SetAttributes" />
    </appender>
    <appender
      name="RollingFileAppender"
      xdt:Locator="Match(name)">
      <file
        value="/opt/BuzzStats/log/BuzzStats.Web.log"
        xdt:Transform="SetAttributes" />
    </appender>
  </log4net>
  <system.web>
    <compilation
      debug="false"
      xdt:Transform="SetAttributes" />
    <customErrors
      mode="RemoteOnly"
      xdt:Transform="SetAttributes" />
    <caching>
      <outputCache
        enableOutputCache="true"
        xdt:Transform="SetAttributes" />
    </caching>
    <httpHandlers
      xdt:Transform="Remove" />
  </system.web>
  <system.webServer>
    <validation
      validateIntegratedModeConfiguration="true"
      xdt:Transform="SetAttributes" />
  </system.webServer>
</configuration>
