<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="buzzStats" type="BuzzStats.Configuration.BuzzStatsConfigurationSection, BuzzStats" />
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <buzzStats>
    <web disableCache="true" />
    <crawler netRequestDelay="00:00:01" webServicesPrefix="http://localhost:8422/BuzzStats/">
      <updaters>
        <add name="main" count="20">
          <lastCheckedAtAge min="00:10:00" max="12:00:00" />
        </add>
        <add name="secondary" count="10">
          <lastCheckedAtAge min="12:00:00" />
        </add>
      </updaters>
      <listingPages>
        <add name="home" url="http://buzz.reality-tape.com/" />
        <add name="upcoming" url="http://buzz.reality-tape.com/upcoming.php" />
        <add name="upcomingEnglish" url="http://buzz.reality-tape.com/enupc.php" />
        <add name="upcomingTech" url="http://buzz.reality-tape.com/tech.php" />
      </listingPages>
    </crawler>
  </buzzStats>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5813.39031" newVersion="3.0.5813.39031" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
