<?xml version="1.0" encoding="UTF-8"?>

<configuration
  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add
      xdt:Locator="Match(key)"
      xdt:Transform="SetAttributes"
      key="BuzzStats.ShowSql"
      value="False" />
    <add
      xdt:Locator="Match(key)"
      xdt:Transform="SetAttributes"
      key="BuzzStats.CreateDb"
      value="False" />
  </appSettings>
  <connectionStrings>
    <add
      xdt:Locator="Match(name)"
      xdt:Transform="SetAttributes"
      name="BuzzStats"
      providerName="mysql"
      connectionString="Server=localhost;Database=BuzzStatsLive;Uid=$(Uid);Pwd=$(Pwd);Charset=utf8;Convert Zero Datetime=True;Pooling=False" />
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint
        xdt:Locator="Match(contract)"
        xdt:Transform="SetAttributes"
        address="http://ngeor.net/BuzzStats/api/CrawlerEvents.svc"
        contract="BuzzStatsCrawlerEvents.ICrawlerEvents" />
    </client>
  </system.serviceModel>
  <log4net>
    <appender
      name="ConsoleAppender"
      xdt:Transform="Remove"
      xdt:Locator="Match(name)" />
    <appender
      name="SmtpAppender"
      xdt:Locator="Match(name)">
      <subject
        value="ngeor.net BuzzStats Exception"
        xdt:Transform="SetAttributes" />
    </appender>
    <appender
      name="RollingFileAppender"
      xdt:Locator="Match(name)">
      <file
        value="/opt/BuzzStats/log/BuzzStats.Crawler.log"
        xdt:Transform="SetAttributes" />
    </appender>
    <root>
      <appender-ref
        xdt:Transform="Remove"
        ref="ConsoleAppender"
        xdt:Locator="Match(ref)" />
    </root>
  </log4net>
</configuration>
