<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section
      name="log4net"
      type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section
      name="buzzStats"
      type="BuzzStats.Configuration.BuzzStatsConfigurationSection, BuzzStats" />
  </configSections>
  <appSettings>
    <add
      key="BuzzStats.ShowSql"
      value="False" />
    <add
      key="BuzzStats.CreateDb"
      value="False" />
  </appSettings>
  <connectionStrings>
    <!-- MSSQL Express, server = localhost -->
    <!--<add name="BuzzStats" providerName="mssql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BuzzStats;Trusted_Connection=true" />-->
    <!-- MySQL, server = mini -->
    <add
      name="BuzzStats"
      providerName="mysql"
      connectionString="Server=192.168.1.2;Database=BuzzStatsLive;Uid=$(Uid);Pwd=$(Pwd);Charset=utf8;Convert Zero Datetime=True;Pooling=False" />
    <!-- SQLite -->
    <!--<add name="BuzzStats" providerName="sqlite" connectionString="..\..\..\BuzzStats.Web\App_Data\BuzzStats.sqlite" />-->
  </connectionStrings>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://localhost:8420/api/CrawlerEvents.svc"
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICrawlerEvents"
        contract="BuzzStatsCrawlerEvents.ICrawlerEvents"
        name="BasicHttpBinding_ICrawlerEvents" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding
          name="BasicHttpBinding_ICrawlerEvents" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior
          name="CrawlerServiceBehavior">
          <serviceMetadata
            httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service
        name="BuzzStats.Services.CrawlerService"
        behaviorConfiguration="CrawlerServiceBehavior">
        <endpoint
          address="http://127.0.0.1:8421/BuzzStats/CrawlerService"
          binding="basicHttpBinding"
          bindingNamespace="http://ngeor.net/BuzzStats/services"
          contract="BuzzStats.Services.ICrawlerService" />
      </service>
      <service
        name="BuzzStats.Services.WebApiService"
        behaviorConfiguration="CrawlerServiceBehavior">
        <endpoint
          address="http://127.0.0.1:8421/BuzzStats/WebApiService"
          binding="basicHttpBinding"
          bindingNamespace="http://ngeor.net/BuzzStats/services"
          contract="BuzzStats.Services.IWebApiService" />
      </service>
    </services>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp
        deliveryMethod="Network"
        from="no-reply@ngeor.net">
        <network
          host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  <buzzStats>
    <crawler
      netRequestDelay="00:00:06"
      webServicesPrefix="http://localhost:8422/BuzzStats/">
      <updaters>
        <add
          name="main"
          count="20">
          <lastCheckedAtAge
            min="00:10:00"
            max="12:00:00" />
        </add>
        <add
          name="secondary"
          count="10">
          <lastCheckedAtAge
            min="12:00:00" />
        </add>
      </updaters>
      <listingPages>
        <add
          name="home"
          url="http://buzz.reality-tape.com/" />
        <add
          name="upcoming"
          url="http://buzz.reality-tape.com/upcoming.php" />
        <add
          name="upcomingEnglish"
          url="http://buzz.reality-tape.com/enupc.php" />
        <add
          name="upcomingTech"
          url="http://buzz.reality-tape.com/tech.php" />
      </listingPages>
    </crawler>
  </buzzStats>
  <log4net>
    <appender
      name="SmtpAppender"
      type="NGSoftware.Common.log4net.SmtpAppender">
      <to
        value="ngeor@ngeor.net" />
      <from
        value="no-reply@ngeor.net" />
      <subject
        value="dev.ngeor.net BuzzStats Exception" />
      <threshold
        value="ERROR" />
      <layout
        type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%newline%date [%thread] %-5level %logger - %newline%message%newline%exception%newline%newline" />
      </layout>
    </appender>
    <appender
      name="ConsoleAppender"
      type="log4net.Appender.ConsoleAppender">
      <layout
        type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%date [%5.5thread] %-5level %35.35logger - %message%newline" />
      </layout>
    </appender>
    <appender
      name="RollingFileAppender"
      type="log4net.Appender.RollingFileAppender">
      <appendToFile
        value="true" />
      <file
        value="BuzzStats.Crawler.log" />
      <layout
        type="log4net.Layout.PatternLayout">
        <conversionPattern
          value="%date [%15.15thread] %-5level %35.35logger - %message%newline" />
      </layout>
      <lockingModel
        type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize
        value="1024KB" />
      <maxSizeRollBackups
        value="10" />
      <rollingStyle
        value="Size" />
      <staticLogFileName
        value="true" />
    </appender>
    <root>
      <level
        value="DEBUG" />
      <appender-ref
        ref="ConsoleAppender" />
      <appender-ref
        ref="RollingFileAppender" />
      <!--      <appender-ref ref="SmtpAppender"/>      -->
    </root>
    <logger
      name="NGSoftware.Common">
      <level
        value="WARN" />
    </logger>
    <logger
      name="BuzzStats.Data.NHibernate">
      <level
        value="DEBUG" />
    </logger>
    <logger
      name="BuzzStats.Services">
      <level
        value="INFO" />
    </logger>
    <logger
      name="NHibernate">
      <level
        value="WARN" />
    </logger>
  </log4net>
  <startup
    useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime
      version="v4.0"
      sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding
      xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity
          name="Iesi.Collections"
          publicKeyToken="aa95f207798dfdb4"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-4.0.0.0"
          newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity
          name="NHibernate"
          publicKeyToken="aa95f207798dfdb4"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-4.0.0.4000"
          newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity
          name="log4net"
          publicKeyToken="669e0ddf0bb1aa2a"
          culture="neutral" />
        <bindingRedirect
          oldVersion="0.0.0.0-1.2.15.0"
          newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove
        invariant="MySql.Data.MySqlClient" />
      <add
        name="MySQL Data Provider"
        invariant="MySql.Data.MySqlClient"
        description=".Net Framework Data Provider for MySQL"
        type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
