mixin menuItem(filename, title)
    li: a(href=filename, class=(basename + '.html').endsWith(filename) ? 'active' : '')= title

doctype html
html(lang="en")
    head
        block title
            title BuzzStats
        link(rel="stylesheet" href="css/app.css")
        script(src="bundle.js" type="text/javascript")
        meta(charset="utf-8")
    body
        header
            a(href='#') ngeor.net | BuzzStats
            span Proudly under construction since 2010

        nav
            ul
                +menuItem('index.html', 'Αρχική')
                +menuItem('stories.html', 'Άρθρα')
                +menuItem('last-checked.html', 'Έλεγχος')
                +menuItem('users.html', 'Χρήστες')
                +menuItem('sites.html', 'Ιστότοποι')
                +menuItem('graphs.html', 'Γραφήματα')
                +menuItem('about.html', 'Για το BuzzStats')
                
        .main        
            block content

        footer.
            &copy; 2010-#{(new Date()).getFullYear()}
            #[a(href="/") ngeor.net] / Nikolaos Georgiou | BuzzStats version: #{version}
