form {
  margin: 0 auto;
  max-width: 420px;
}

div {
  display: flex;
  padding: 1em;
}

.button {
  justify-content: end;
}

label {
  width: 10em;
}

input {
  flex: 1 1 auto;
}

button {
  flex: 0 0 auto;
}
