<!doctype html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        <div class="widget">
            <p>Most voted</p>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Score</th>
                        <th>Links</th>
                        <th>Published at</th>
                    </tr>
                </thead>
                <tbody>
                    {{#mostVoted}}
                    <tr>
                        <td>
                            {{title}}
                        </td>
                        <td align="right">
                            {{score}}
                        </td>
                        <td>
                            <a href="{{ url }}">🌍</a>
                            <a href="https://news.ycombinator.com/{{ internalUrl }}">🤖</a>
                        </td>
                        <td>
                            {{ publishedAt }}
                        </td>
                    </tr>
                    {{/mostVoted}}
                </tbody>
            </table>
        </div>
        <div class="widget">
            <p>Most discussed</p>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Comments</th>
                        <th>Links</th>
                        <th>Published at</th>
                    </tr>
                </thead>
                <tbody>
                    {{#mostDiscussed}}
                    <tr>
                        <td>
                            {{title}}
                        </td>
                        <td align="right">
                            {{comments}}
                        </td>
                        <td>
                            <a href="{{ url }}">🌍</a>
                            <a href="https://news.ycombinator.com/{{ internalUrl }}">🤖</a>
                        </td>
                        <td>
                            {{ publishedAt }}
                        </td>
                    </tr>
                    {{/mostDiscussed}}
                </tbody>
            </table>
        </div>
        <div class="widget">
            <p>Most recent</p>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Links</th>
                        <th>Published at</th>
                    </tr>
                </thead>
                <tbody>
                    {{#mostRecent}}
                    <tr>
                        <td>
                            {{title}}
                        </td>
                        <td>
                            <a href="{{ url }}">🌍</a>
                            <a href="https://news.ycombinator.com/{{ internalUrl }}">🤖</a>
                        </td>
                        <td>
                            {{ publishedAt }}
                        </td>
                    </tr>
                    {{/mostRecent}}
                </tbody>
            </table>
        </div>
        <div class="widget">
            <p>Recently checked</p>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Links</th>
                        <th>Published at</th>
                        <th>Checked at</th>
                    </tr>
                </thead>
                <tbody>
                    {{#recentlyChecked}}
                    <tr>
                        <td>
                            {{title}}
                        </td>
                        <td>
                            <a href="{{ url }}">🌍</a>
                            <a href="https://news.ycombinator.com/{{ internalUrl }}">🤖</a>
                        </td>
                        <td>
                            {{ publishedAt }}
                        </td>
                        <td>
                            {{ lastCheckedAt }}
                        </td>
                    </tr>
                    {{/recentlyChecked}}
                </tbody>
            </table>
        </div>
        <div class="widget">
            <p>Oldest checked</p>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Links</th>
                        <th>Published at</th>
                        <th>Checked at</th>
                    </tr>
                </thead>
                <tbody>
                    {{#oldestChecked}}
                    <tr>
                        <td>
                            {{title}}
                        </td>
                        <td>
                            <a href="{{ url }}">🌍</a>
                            <a href="https://news.ycombinator.com/{{ internalUrl }}">🤖</a>
                        </td>
                        <td>
                            {{ publishedAt }}
                        </td>
                        <td>
                            {{ lastCheckedAt }}
                        </td>
                    </tr>
                    {{/oldestChecked}}
                </tbody>
            </table>
        </div>
        <div class="widget">
            <p>Last modified</p>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Links</th>
                        <th>Published at</th>
                        <th>Last modified at</th>
                    </tr>
                </thead>
                <tbody>
                    {{#lastModified}}
                    <tr>
                        <td>
                            {{title}}
                        </td>
                        <td>
                            <a href="{{ url }}">🌍</a>
                            <a href="https://news.ycombinator.com/{{ internalUrl }}">🤖</a>
                        </td>
                        <td>
                            {{ publishedAt }}
                        </td>
                        <td>
                            {{ lastModifiedAt }}
                        </td>
                    </tr>
                    {{/lastModified}}
                </tbody>
            </table>
        </div>
        <div class="widget">
            <p>Trending</p>
            <p>TODO</p>
        </div>
        <footer>
            <a href="/things">All things</a>
            <span>|</span>
            <span>Total count: {{ totalCount }}</span>
        </footer>
    </body>
</html>
