<!doctype html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        <div>
            Hello, world!
        </div>
        <ul>
            {{#things}}
            <li>{{title}}</li>
            {{/things}}
        </ul>
    </body>
</html>
