<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>
        <add key="StorageWebApiUrl" value="http://localhost:9003/" />
    </appSettings>
    <connectionStrings>
<!--        <add name="BuzzStats" providerName="System.Data.SqlClient" connectionString="Server=.;Database=BuzzStats;User Id=buzzstats;Password=#buzzstats#;" />    -->
        <add name="BuzzStats" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=BuzzStats;Uid=buzzstats;Pwd=#buzzstats#;Charset=utf8;Convert Zero Datetime=True;Pooling=False" />
    </connectionStrings>
    <log4net>
        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>
        <root>
            <level value="INFO" />
            <appender-ref ref="ConsoleAppender" />
        </root>
    </log4net>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>