name: Release

on:
  push:
    branches: [ trunk ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven
    - name: Import GPG key workaround
      run: gpg --batch --yes --passphrase=${{ secrets.GPG_PASSPHRASE }} --output - scripts/keys.asc > /dev/null
    - name: Import GPG key
      run: gpg --batch --yes --passphrase=${{ secrets.GPG_PASSPHRASE }} --output - scripts/keys.asc | gpg --batch --yes --import
    - name: Release
      run: >-
        ./scripts/release.py
        --gpg-key ${{ secrets.GPG_KEY }}
        --gpg-passphrase ${{ secrets.GPG_PASSPHRASE }}
        --maven-username ${{ secrets.OSSRH_USERNAME }}
        --maven-password ${{ secrets.OSSRH_PASSWORD }}
        --revision ${{ github.run_number }}
    - name: Cleanup GPG
      if: always()
      run: rm -rf $HOME/.gnupg
